[project]
name = "hardcaml-web-ide"
version = "0.1.0"
description = "A web-based IDE for Hardcaml"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[tool.uv.workspace]
members = [
    "api",
]
